h1 {
    margin: auto 30px;
    font-size: large;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

header > div {
    display: flex;
    align-items: center;
}

header > div button {
    margin: auto 30px;
    padding: 10px 30px;
    font-weight: bolder;
}

header > div a {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

header > div a:hover {
    cursor: pointer;
    text-decoration: underline;
}

section {
    padding: 0 10%;
}

.logo_box {
    width: 100px;
}

.logo_box > img {
    width: 100%;
}

.top_banner {
    background-image: url(/src/images/header_banner.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 50px auto;
}

.search_bar {
    height: 40px;
    position: relative;
    padding: 10px 5px;
    border: 1px black solid;
}

.search_bar > input[type="text"] {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    position: absolute;
    font-size: 20px;
    padding: 5px 20px;
}

.search_bar > button {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 60px;
}

.item_collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 70px;
    margin: 50px auto;
}

.item_collection  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 200px;
}

.item_collection div {
    background-repeat: no-repeat;
    background-position: center;
    border: 1px black solid;
    width: 100%;
    height: 100%;
}

.item_collection  div h4 {
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.474);
}

.contacts {
    margin: 50px auto;
}

.contacts > h3 {
    font-size: 30px;
    text-align: center;
}

.contacts > div {
    display: flex;
    justify-content: space-around;

}

.contacts > div p {
    text-align: left;
}

.page {
    margin: 50px 20px;
}

.type_item_page ul {

}

.type_item_page ul > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    background-color: lightblue;
}

.type_item_page ul > li div:nth-child(1) {
    width: 25%;
    height: 200px;
}

.type_item_page ul > li div:nth-child(1) img {
    height: 100%;
}

.type_item_page ul > li div:nth-child(2) {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: -webkit-fill-available;
}

.type_item_page ul > li div:nth-child(2) h4 {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0;
}

.type_item_page ul > li div:nth-child(2) button {
    width: 120px;
    text-align: center;
    padding: 4px 0;
    margin-top: 10px;
    cursor: pointer;
}

.shopping_cart_page ol > li {
    display: flex;
    justify-content: space-between;
}

.shopping_cart_page ol > li div {
    display: inline-flex;
    justify-content: space-between;
    width: 110px;
}

.shopping_cart_page .total {
    display: flex;
    justify-content: end;
}

.shopping_cart_page .total > div {
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.order_form {
    text-align: center;
    margin-bottom: 100px;
}

.order_form > h3 {
    font-size: 28px;
}

.order_form form {
    max-width: 300px;
    margin: 0 auto;
}

.order_form form > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
    margin: 20px 0;
}

.order_form form > div label {
    font-weight: bold;
}

.order_form form > div input {
    width: 100%;
    padding: 4px 10px;
    font-weight: 300;
}

.order_form form > div button {
    padding: 5px 40px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.order_form form > div:has(button) {
    align-items: center;
}
