<div class="top_banner"></div>
<div class="search_bar">
    <input type="text">
    <button class="material-symbols-outlined">search</button>
</div>
<div class="item_collection">
    <div style="background-image: url(assets/images/kitchen.jpg)">
        <h4>Kitchen</h4>
    </div>
    <div style="background-image: url(assets/images/bathroom.jpg)">
        <h4>Bathroom</h4>
    </div>
    <div style="background-image: url(assets/images/water_heaters.jpeg)">
        <h4>Water heaters</h4>
    </div>
    <div style="background-image: url(assets/images/accessories.jpg)">
        <h4>Accessories</h4>
    </div>
</div>
<div class="contacts">
    <h3>Contacts</h3>
    <div>
        <p>
            1234 palatine rd, Chicago, IL 60007
            <br>
            plumbingggsupplycorp@gmail.com
            <br>
            +1 100 100 1000
        </p>
        <ul>
            <li><a href="instagram.com">instagram</a></li>
            <li><a href="facebook.com">Facebook</a></li>
            <li><a href="telegram.org">Telegram</a></li>
        </ul>
    </div>
</div>