{% include "header.html" %}
<div class="page type_item_page">
    <ul>
        {% for product_item in product_list %}
            <li>
                <div>
                     <img src="/src{{product_item.image}}">
                </div>
                <div>
                    <h4>{{product_item.name}}</h4>
                    <strong>$<span>{{product_item.price}}</span></strong>
                    <button data-product_id="{{product_item.id}}">Add to the cart</button>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% include "footer.html" %}
